# f4h-portal-backend

Backend services for the web user interface for the project [FAIR4Health](https://www.fair4health.eu/).

{{#tags}}
## {{name}}
 {{#issues}}
  {{#hasIssue}}
### {{title}} {{#hasIssueType}} *{{issueType}}* {{/hasIssueType}} {{#hasLabels}} {{#labels}} `{{.}}` {{/labels}} {{/hasLabels}}
* Further information in the Pull Request [{{issue}}]({{link}})
  {{/hasIssue}}
  {{^hasIssue}}
  {{/hasIssue}}
 {{/issues}}
{{/tags}}
